# Virtual environment
venv/

# Dataset
dataset/


# Python cache
__pycache__/
*.pyc

# Models
*.onnx
*.pt
*.pth

# OS files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# VSCode settings
.vscode/

#archives
*.zip
*.tar.gz
