# Virtual environment
venv/

# Dataset
ml_pipeline/dataset/

webapp/.streamlit/


# Python cache
__pycache__/
*.pyc

# Models
*.onnx
*.pt
*.pth

# OS files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# VSCode settings
.vscode/

#

#path
.pth

#archives
*.zip
*.tar.gz
*.tar-2.gz
